{% extends "blog_layout.html" %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block blogMain %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ blog.title }}</h2>

        <p class="blog-post-meta">{{ blog.postTime|datetimeformat('yyyy-MM-dd HH:mm:ss') }} <a
                href="/">{{ blog.user.nickName }}</a>
            {% if current_user.is_authenticated %}
                <a href="/editBlog/{{ blog._id }}">编辑</a>
                <a href="#" onclick="confirmDelete('{{ blog._id }}')">删除</a>
            {% endif %}
        </p>
        {{ blog.html|safe }}
    </div>
    <div id="SOHUCS"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        (function () {
            var appid = 'cysaPY4hd';
            var conf = 'prod_b2687f0cac54479e86a918415927fcf4';
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
            } else {
                var loadJs = function (d, a) {
                    var c = document.getElementsByTagName("body")[0] || document.body || document.documentElement;
                    var b = document.createElement("script");
                    b.setAttribute("type", "text/javascript");
                    b.setAttribute("charset", "UTF-8");
                    b.setAttribute("src", d);
                    if (typeof a === "function") {
                        if (window.attachEvent) {
                            b.onreadystatechange = function () {
                                var e = b.readyState;
                                if (e === "loaded" || e === "complete") {
                                    b.onreadystatechange = null;
                                    a();
                                }
                            }
                        } else {
                            b.onload = a;
                        }
                    }
                    c.appendChild(b);
                };
                loadJs("http://changyan.sohu.com/upload/changyan.js", function () {
                    window._config = {showScore: true};
                    window.changyan.api.config({
                        appid: appid, conf: conf
                    });
                });
            }
        })(); </script>
{% endblock %}