{% extends "page_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "index" %}
{% block title %}
    主页
{% endblock %}

{% block pageContent %}
    <div class="row">

        <div class="col-sm-8 blog-main">
            {% block blogMain %}
            {% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {% block sidebar %}
                <div class="sidebar-module sidebar-module-inset">
                    <h4>关于我</h4>

                    <p>网名：星奕。喜欢看书，学习，下围棋，看电影。热爱技术，科技+创新为教育。
                        喜欢的一句话：无数双脚印，只为寻找一个梦</p>
                </div>
                {#<div class="sidebar-module">
                <h4>热门文章</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>#}
                <div class="sidebar-module">
                    <h4>友情链接</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/">GitHub</a></li>
                        <li><a href="http://www.weiqitv.com/">围棋TV网</a></li>
                    </ol>
                </div>
            {% endblock %}
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
{% endblock %}