{% extends "blog_layout.html" %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block blogMain %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ blog.title }}</h2>

        <p class="blog-post-meta">{{ blog.postTime|datetimeformat('yyyy-MM-dd HH:mm:ss') }} <a
                href="/">{{ blog.user.nickName }}</a>
            {% if current_user.is_authenticated %}
                <a href="/editBlog/{{ blog._id }}">编辑</a>
                <a href="#" onclick="confirmDelete('{{ blog._id }}')">删除</a>
            {% endif %}
        </p>
        {{ blog.html|safe }}
    </div>
    <div id="SOHUCS"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js"></script>
    <script type="text/javascript">
        window._config = {showScore: true};
        window.changyan.api.config({
            appid: 'cysaPY4hd',
            conf: 'prod_b2687f0cac54479e86a918415927fcf4'
        });
    </script>
{% endblock %}