{% extends "blog_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "index" %}
{% block title %}
    主页
{% endblock %}

{% block blogMain %}

    {% for blog in blogs %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ blog.title }}</h2>

            <p class="blog-post-meta">{{ blog.postTime|datetimeformat }} <a href="/">{{ blog.user.nickName }}</a></p>

            <p>{{ blog.summary }} <a href="/blog/{{ blog._id }}">查看全文</a></p>
        </div>
    {% else %}
        这家伙太懒了，还没有发表过文章
    {% endfor %}
    <nav>
        <ul class="pager">
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </nav>

{% endblock %}