{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% set navigation_bar = [
    (url_for('index'), 'index', '主页'),
    (url_for('about'), 'about', '关于我')
] %}
{% set active_page = active_page|default('index') %}
{% block html_attribs %}
    lang="zh-CN"
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                {% for href, id, caption in navigation_bar %}
                    <a class="blog-nav-item {% if id == active_page %}active{% endif %}"
                       href="{{ href|e }}">{{ caption|e }}</a>
                {% endfor %}
                {% if current_user.is_authenticated %}
                    <a class="blog-nav-item {% if 'post' == active_page %}active{% endif %}"
                       href="{{ url_for('postBlog') }}">发表文章</a>
                    <a class="blog-nav-item" href="{{ url_for('logout') }}">注销</a>
                {% else %}
                    <a class="blog-nav-item {% if 'login' == active_page %}active{% endif %}"
                       href="{{ url_for('login') }}">登录</a>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">

        </div>
        {{ utils.flashed_messages(dismissible=True) }}
        {% block pageContent %}

        {% endblock %}
    </div>
    <br>
    <br>
    <footer class="blog-footer">

        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
                href="https://twitter.com/mdo">@mdo</a>.</p>

        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
{% endblock %}
