{% extends "bootstrap/base.html" %}
{% block html_attribs %}
    lang="zh-CN"
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="{{ url_for('index') }}">主页</a>
                <a class="blog-nav-item" href="#">New features</a>
                <a class="blog-nav-item" href="#">Press</a>
                <a class="blog-nav-item" href="#">Labs</a>
                <a class="blog-nav-item" href="{{ url_for('about') }}">关于我</a>
                {% if current_user.is_authenticated %}
                    <a class="blog-nav-item" href="{{ url_for('logout') }}">注销</a>
                {% else %}
                    <a class="blog-nav-item" href="{{ url_for('login') }}">登录</a>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">

        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block pageContent %}

        {% endblock %}
    </div>
    <br>
    <br>
    <footer class="blog-footer">

        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a
                href="https://twitter.com/mdo">@mdo</a>.</p>

        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
{% endblock %}
